
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    position: relative;
  }
  
  .cart-button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: white;
    background-color: #021931;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  
  .cart-button:hover {
    background-color: #0056b3;
  }
  
  
  .cart-button i {
    margin-right: 0.5rem;
  }
  
  
  .cart-count {
    background-color: red;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    margin-left: 0.5rem;
  }
  

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .container {
    display: grid;
    grid-template-areas:
      "nav nav"
      "sidebar products"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }

  .nav {
    grid-area: nav;
    background: #217799;
    color: white;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
  }
  
  
  .sidebar {
    grid-area: sidebar;
    background: #f4f4f4;
    padding: 1rem;
  }
  
  .sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  
.grid-container {
    grid-area: products;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }
  
  .grid-item h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  
.buy-button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buy-button:hover {
    background-color: #0056b3;
  }
  

  .footer {
    grid-area: footer;
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  